* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
}

main {
  display: block;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  color: #333;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h3, h4, h5 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.container-header ul {
  gap: 1.5rem;
  justify-items: center;
  list-style: none;
  display: flex;
  margin-right: 8rem;
  margin-top: 2rem;
  font-size: large;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.title-logo {
  margin: 0.5rem;
  margin-left: 6rem;
  margin-top: 2rem;
  font-size: 2.4rem;
}

.menu a {
  text-decoration: none;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: #5f6163;
  transition: 0.3s;
}

.menu a::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 14px;
  background: black;
  margin-right: 5px;
  vertical-align: middle;
}

.info-perfil h1 {
  margin-bottom: 1rem;
}

.info-perfil p {
  margin-top: 1.2rem;
}

.img-perfil {
  width: 300px;
  margin-top: 5rem;
  border-radius: 40px;
}

.container {
  display: grid;
  grid-template-columns: 300px 400px;
  justify-content: center;
  height: 600px;
  gap: 9rem;
}

.info-perfil {
  align-self: center;
}

.detalhe-container {
  position: relative;
}

.detalhe {
  position: absolute;
  bottom: 150px;
  left: -50px;
  z-index: -1;
}

.experiencia-info {
  text-transform: capitalize;
}

span {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
}

span:hover {
  color: #5f6163;
  transition: 0.3s;
  animation: alternate-reverse 0.5s infinite;
}

.container-experiencia {
  display: grid;
  grid-template-columns: 450px 450px;
  box-sizing: border-box;
  border-color: #333;
  height: 500px;
  justify-content: center;
  overflow: hidden;
}

.experiencia-title {
  font-size: 8.1rem;
  text-transform: uppercase;
  word-break: break-all;
  margin-right: 9rem;
  margin-left: 1rem;
  color: rgb(190, 186, 186);
}

.experiencia-info {
  font-size: large;
  font-size: 1.2rem;
}

.experiencia-info-2 {
  font-size: 0.9rem;
}

.p-container-two{
    font-size: 15px;
}

.colum-one {
    display: grid;
    grid-template-columns: 400px 271px;
    background-color: #e4e7eb;
    border-radius: 4px;
    width: 650px;
    height: 150px;
    padding: 6px;
    position: relative;
}

.colum-one::before{
  content: "";
  position: absolute;
  left: -5px;
  top: 18%;
  width: 5px;
  height: 19px;
  border-radius: 2px;
  background-color: #3df026;
}

.colum-one::after {
  content: "2045";
  position: absolute;
  left: -60px;
  top: 23%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  color: #5a5353;
  z-index: -1; /* fica atrás do círculo */
}

.title-colum-one{
  margin-left: 10px;
  padding-top: 1.5rem;
}

.p-container-two{
  margin:0px
}

.title-colum-one h4{
  font-size: 1.1rem;
}

.info-colum-two li{
    list-style: none;
}

.info-colum-two h4{
  font-size: 1.1rem;
  margin: 0.5rem;
  margin-left: 0px;
  margin-top: 1.3rem;
}

.flex ul{
  margin: 0px;
  padding: 0px;
}

.flex ul{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.flex li{
  background-color: rgb(244, 244, 250);
  padding: 0.4rem;
  border-radius: 5px;
}

.colum-infotwo{
    display: grid;
    grid-template-columns: 400px 271px;
    background-color: #e4e7eb;
    border-radius: 4px;
    width: 650px;
    height: 150px;
    padding: 6px;
    position: relative;
    margin-top: 1rem;
}

.colum-infotwo::before{
  content: "2044 - 45";
  position: absolute;
  left: -90px;
  top: 25%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  color: #5a5353;
  z-index: -1; /* fica atrás do círculo */
}

.colum-infotwo::after{
  content: "";
  position: absolute;
  left: -3px;
  top: 18%;
  width: 5px;
  height: 19px;
  border-radius: 2px;
  background-color: #3df026;
}

.p-container-two-g{
  margin-right: 1.8rem;
  font-size: 0.9rem;
}

.container-experiencias{
  display: grid;
  grid-template-columns: 450px 500px;
  background-color: #1e201e;
  justify-content: center;
  height: 820px;
  margin-bottom: 0;
}

.container-expe{
  text-transform: capitalize;
  margin-top: 2rem;
}

.title-form{
  font-size: 7.4rem;
  word-break: break-all;
  text-align: left;
  margin: 0px;
  padding: 0;
  margin-right: 9rem;
  box-sizing: border-box;
  margin-top: 2rem;
  
}

.info-expe{
  margin-left: 2rem;
  color: #a0a2a3;
  font-size: 1.4rem;
}

.container-expe span{
  color: #ffffff; 
  text-decoration: none;
}

.container-expe span:hover{
  color: #5a5353;
}

.descript {
  color: #333 !important;
}

.grid-curso{
  display: grid;
  grid-template-columns: 180px 180px 180px;
  color: #fafafa;
  justify-content: center;
  width: 600px;
  gap: 2rem;
  padding: 2rem;
  margin-left: 26px;
}

.info-curso h5{
  color: #8f8989;
}

.info-curso p{
  color: #ffffff;
  font-weight: 600;
}

.info-curso{
  background-color: #000000;
  padding: 1rem;
  border-radius: 5px;
}

.descript{
  color: #000000;
}

.grid-curso{
  position: relative;
}

.info-curso{
  justify-items: center;
  text-align: center;
  position: relative;
}

.info-curso::before{
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 17px;
  left: 10px;
  border-radius: 5px;
  
  background-color: #3df026;
}

.intensivo{
  display: flex;
  gap: 0.8rem;
  margin-left: 1.7rem;
}

.ux{
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
}

.intensivo h2{
  font-size: 1.4rem;
}

.ux{
  color: #ffffff;
  font-size: 0.9rem;
}

.front{
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
}

.front{
  color: #ffffff;
  font-size: 0.9rem;
}

footer{
  position: relative;
  height: 150px;
  background-color: #000000;
  padding: 0;
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



footer img{
  content: "";
  position: absolute;
  top: -60px;
  right: 1200px;
  
}

footer p{
  color: white;
  text-align: center;
}

